{% extends 'blog/base_blog.html' %}

{% block title %}About{% endblock title %}

    
{% block content %}
{% load static %}
<div class="row entry-wrap">
    <div class="column lg-12">

        <article class="entry">

            <header class="entry__header entry__header--narrow">

                <h1 class="entry__title">
                    Learn More About Us.
                </h1>

            </header>

            <div class="entry__media">
                <figure class="featured-image">
                    <img src="{% static 'blog/images/thumbs/about/about-1200.jpg' %}" 
                      srcset="{% static 'blog/images/thumbs/about/about-2400.jpg'%} 2400w, 
                              {% static 'blog/images/thumbs/about/about-1200.jpg'%} 1200w, 
                              {% static 'blog/images/thumbs/about/about-600.jpg'%} 600w" sizes="(max-width: 2400px) 100vw, 2400px" alt="">
                </figure>
            </div>

            <div class="content-primary">

                <div class="entry__content">

                    <p class="lead">
                    Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud cupidatat dolor 
                    sunt sint sit nisi est eu exercitation incididunt adipisicing veniam velit id fugiat 
                    enim mollit amet anim veniam dolor dolor irure velit commodo cillum sit nulla ullamco 
                    magna amet magna cupidatat qui labore cillum cillum cupidatat fugiat nostrud.</p> 

                    <div class="row block-lg-one-half block-tab-whole">
                        <div class="column">
                            <p class="drop-cap">
                                Eligendi quam at quis. Sit vel neque quam consequuntur expedita quisquam. Incidunt quae 
                                qui error. Rerum non facere mollitia ut magnam laboriosam. Quisquam neque quia ex eligendi 
                                repellat illum quibusdam aut. Architecto quam consequuntur totam ratione reprehenderit est 
                                praesentium impedit maiores incididunt adipisicing veniam velit. Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud cupidatat dolor 
                                sunt sint sit nisi est eu exercitation incididunt.
                                </p>
                        </div>
                        <div class="column">
                            <p>
                                Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud cupidatat dolor 
                                sunt sint sit nisi est eu exercitation incididunt adipisicing veniam velit id fugiat 
                                enim mollit amet anim veniam dolor dolor irure velit commodo cillum sit nulla ullamco 
                                magna amet magna cupidatat qui labore cillum sit in tempor veniam consequat non laborum 
                                adipisicing aliqua ea nisi sint ut quis proident ullamco ut dolore culpa occaecat ut 
                                laboris in sit minim cupidatat ut dolor voluptate enim veniam consequat occaecat fugiat 
                                in adipisicing in amet.
                                </p>
                        </div>
                    </div>

            </div> <!-- end content-primary -->

        </article> <!-- end entry -->

    </div>
</div> <!-- end entry-wrap -->
{% endblock content %}
